<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControladorServicio</servlet-name>
        <servlet-class>co.edu.sena.veterinaria.controlador.ControladorServicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCliente</servlet-name>
        <servlet-class>co.edu.sena.veterinaria.controlador.ControladorCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorMascota</servlet-name>
        <servlet-class>co.edu.sena.veterinaria.controlador.ControladorMascota</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorEmpleado</servlet-name>
        <servlet-class>co.edu.sena.veterinaria.controlador.ControladorEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorExamen</servlet-name>
        <servlet-class>co.edu.sena.veterinaria.controlador.ControladorExamen</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorServicio</servlet-name>
        <url-pattern>/ControladorServicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCliente</servlet-name>
        <url-pattern>/ControladorCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorMascota</servlet-name>
        <url-pattern>/ControladorMascota</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorEmpleado</servlet-name>
        <url-pattern>/ControladorEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorExamen</servlet-name>
        <url-pattern>/ControladorExamen</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
